{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block main %}
<h1>Book table</h1>
<form method="POST" action="">
   <dl>
        <dt>{{ form.booking_date.label }}</dt>
        <dd>{{ form.booking_date }}</dd>
        <dt>Booking hour</dt>
        <dd>
            <select name="booking_hour">
                {% for i in hours_list %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </dd>
        <dt>People number</dt>
        <dd>
            <select name="number_persons">
                {% for i in range(1,max_table_seats+1) %}
                    <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
        </dd>
    </dl>
    {{ form.submit }}
</form>
{% endblock %}