{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block main %}
<h1>GoOutSafe</h1>

{% if current_user.is_authenticated and session['role'] == "user" %}
Hi {{ current_user.firstname }}!

<div class="ui divider"></div>

<div class="row">
    <h2 class="ui dividing header">Restaurants</h2>
    <div class="row">
        <a href="/restaurants" class="ui primary button">
            <i class="utensil spoon icon"></i>
            See restaurants list
        </a>
    </div><br />
</div>
<!-- {% for restaurant in restaurants %}
            <div>
                <li>
                    {{ restaurant.name }} -- Likes:{{ restaurant.likes }}
                </li>
            </div>
        {% endfor %} -->

{% elif current_user.is_authenticated and session['role'] == "operator" %}
Hi {{ current_user.firstname }}!
<div class="ui divider"></div>

<div class="row">
    <h2 class="ui dividing header">Restaurants</h2>
    <div class="row">
        <a href="/restaurants" class="ui primary button">
            <i class="utensil spoon icon"></i>
            See restaurants list
        </a>
    </div><br />

    {% elif current_user.is_authenticated and session['role'] == "authority" %}
    Hi {{ current_user.firstname }}!
    Below you can mark users as positive.
</div>

<!--TODO refactor all the custom sub-views in an external file-->
<section>
    <h2>Add new Mark</h2>
    <p>
    <form method="POST" action="/marks/new/ssn">
        <input type="submit" value="SSN" />
    </form>
    </p>
    <p>
    <form method="POST" action="/marks/new/email">
        <input type="submit" value="Email" />
    </form>
    </p>
    <p>
    <form method="POST" action="/marks/new/phonenumber">
        <input type="submit" value="Phone number" />
    </form>
    </p>
</section>

{% else %}
<div class="row">
    <p>Hello Stranger! you can either <a href="/login/user">Log in</a> or <a href="/register/user">Sign Up</a></p>
    {{ session["role"] }}
</div>
{% endif %}

<div class="row">
    <a href="/restaurants_map" class="ui primary button">
        <i class="map icon"></i>
        Map of our restaurants
    </a>
</div>

<hr>
<div style="margin-top: 30px;" class="row">
    <div class="ui four doubling stackable cards">
        {% for restaurant in restaurants %}
        <div class="ui card">
            <div class="content">
                <span class="ui avatar">
                    <a href="{{ url_for('restaurants._restaurants') }}/{{ restaurant.id }} ">
                        {{ restaurant.name }}
                    </a>
                </span>
                <div class="right floated meta">
                    {{ restaurant.average_rating }}
                    <i class="star outline icon"></i>
                </div>
            </div>
            <a href="{{ url_for('restaurants._restaurants') }}/{{ restaurant.id }}" class="image">
                <img
                    src="https://www.repstatic.it/content/nazionale/img/2018/10/21/222802069-6316bf93-aa5e-4058-8f22-6bfd49e04202.jpg">
            </a>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}