<h1>GoOutSafe</h1>

{% if current_user.is_authenticated and session['role'] == "user"%}
Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>

<h2>Your Restaurants</h2>
{% for restaurant in restaurants%}
<div>
  <li>
    {{restaurant.name}} -- Likes:{{restaurant.likes}}
  </li>
</div>
{% endfor %}

{% elif current_user.is_authenticated and session['role'] == "operator"%}
Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>
Below you can see your restaurants.

{% elif current_user.is_authenticated and session['role'] == "authority"%}
Hi {{ current_user.name }}! <a href="/logout">Logout</a>
Below you can mark users as positive, have fun!.

{% else %}
Hi Anonymous, <a href="/login">Log in</a>
{{ session["role"] }}
{% endif %}