{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block main %}
<h1>GoOutSafe</h1>

{% if current_user.is_authenticated and session['role'] == "user" %}
Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>

<h2>Restaurants</h2>
<a href="/restaurants">See restaurants list</a>
<!-- {% for restaurant in restaurants %}
            <div>
                <li>
                    {{ restaurant.name }} -- Likes:{{ restaurant.likes }}
                </li>
            </div>
        {% endfor %} -->

{% elif current_user.is_authenticated and session['role'] == "operator" %}
Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>

<h2>Restaurants</h2>
<a href="/restaurants">See restaurants list</a>

{% elif current_user.is_authenticated and session['role'] == "authority" %}
Hi {{ current_user.firstname }}! <a href="/logout">Logout</a>
Below you can mark users as positive, have fun!.

<!--TODO refactor all the custom sub-views in an external file-->
<section>
    <h2>Add new Mark</h2>
    <p>
    <form method="POST" action="/marks/new/ssn">
        <input type="submit" value="SSN" />
    </form>
    </p>
    <p>
    <form method="POST" action="/marks/new/email">
        <input type="submit" value="Email" />
    </form>
    </p>
    <p>
    <form method="POST" action="/marks/new/phonenumber">
        <input type="submit" value="Phone number" />
    </form>
    </p>
</section>

{% else %}
<p>Hello Stranger! you can either <a href="/login/user">Log in</a> or <a href="/register/user">Sign Up</a></p>
{{ session["role"] }}
{% endif %}

{% endblock %}