{% extends "base.html" %}
{% block title %}restaurants{% endblock %}

{% block main %}
<h1>Restaurant List</h1>
<h5>{{message}}</h5>
<ul>
  {% for restaurant in restaurants: %}
  <li>
    "<a href="{{base_url}}/{{restaurant.id}}">{{restaurant.name}}</a>" Likes: {{restaurant.likes}}
    {% if current_user.is_authenticated %}
      {% if role != 'operator' or (role == 'operator' and current_user.id != restaurant.operator_id) %}
        <a href="{{base_url}}/like/{{restaurant.id}}">Like it!</a>
      {% endif %}
    <a href="{{base_url}}/{{restaurant.id}}">See Details!</a>
      {% if role == 'operator' and current_user.id == restaurant.operator_id %}
        <a href="/restaurants/{{restaurant.id}}/tables">Show tables</a>
        <a href="/operator/restaurants/{{restaurant.id}}/create_table">Add new table</a>
      {% endif %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock %}